html, body{
	margin: 0;
	padding: 0;
}
body{
	background: #eee;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	height: 100dvh;
}
hr {
	border: none;
	height: 1px;
	background: lightgray;
}
.summary-header {
	text-wrap: balance;
	line-height: 1.4rem;
}
.card{
	background: white;
	border-radius: 1rem;
	padding: 1rem 2rem;
	max-width: 800px;
	margin: auto;
}
.links{
	display: flex;
	justify-content: space-evenly;
}
.links a{
	display: flex;
	gap: 5px;
}
table{
	border-collapse: collapse;
	margin: auto;
}
table tr:not(:last-child){
	border-bottom: 1px solid gray;
}
table td{
	padding: 5px 10px;
	text-align: center;
}
.item{
	text-align: center;
}
.item-header{
	font-size: 1.25rem;
	margin-bottom: 0.25rem;
	font-weight: bold;
}
.item-body{
	margin-top: 1rem;
}
.item-sub{
	margin-bottom: 0.2rem;
	font-weight: bold;
}
.list-center {
	text-align: center;
	margin-left: 1rem;
}
.list-center ul{
	display: inline-block;
	text-align: left;
	padding-left: 0;
	margin: 0;
}
.list-center li{
	margin-bottom: 0.4rem;
}
.cert-issuer{
	font-size: 0.85rem;
	color: #666;
}
button {
	padding: 0.5em 1.5em;
	border: transparent;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	background: dodgerblue;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.2s ease;
	display: flex;
	align-items: center;
	gap: 0.5em;
	user-select: none;
}
button:hover {
	background: #0081ff;
	padding: 0.5em 2em;
}
button:active {
	background: #006dd8;
}
@media print {
	body {
		background-color: white;
	}
	.card {
		border: 1px solid lightgray;
	}
	.hide-on-print{
		display: none;
	}
}
