body {
	padding: 0;
	margin: 0;
	height: 100dvh;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

:root{
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.25), transparent);
}


@keyframes slidedown {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slidetop {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slidecenter {
	from {
		transform: scale(0);
		transform-origin: center;
	}
	to {
		transform: scale(1);
	}
}


.cards {
	height: 100%;
	width: 100%;
	scroll-snap-type: y mandatory;
	overflow: auto;
}
.card-wrapper {
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
}


.card {
	height: 100%;
	width: 75dvw;
	max-width: 1000px;
	max-height: 75dvh;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 18pt;
}
.card > .card-layout {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	height: 100%;
}

.card .profile-img{
	max-width: 50%;
	user-select: none;
	border-radius: 10px;
	overflow: hidden;
	flex-basis: 50%;
}
.card .profile-img img {
	width: 100%;
	height: 100%;
	mask-image: linear-gradient(90deg, transparent 5%, #000 50%);
	object-fit: cover;
	object-position: 75%;
}


.card .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5em;
	flex-basis: 50%;
	overflow: hidden;
}
.card hr {
	margin: 0;
	flex-shrink: 0;
}
.card .info h1 {
	padding-top: 0.25em;
	font-size: 1em;
	margin: 0;
}
.card .info h2 {
	font-size: 0.75em;
	color: #757575;
	margin: 0;
}
.card .info p {
	font-size: 0.65em;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	overflow: auto;
}
.card .info p::-webkit-scrollbar {
	width: 5px;
}


@media (max-width: 600px) {
	::-webkit-scrollbar {
		width: auto;
		max-width: 4px;
	}
	.card {
		width: 95dvw;
		height: fit-content;
		max-height: 95dvh;
		overflow: hidden;
		font-size: 16pt;
		gap: 0.25em;
	}
	.card > .card-layout {
		display: contents;
	}
	.card .profile-img {
		order: -1;
		max-width: 100%;
		height: 250px;
		flex-shrink: 0;
		flex-basis: unset;
		display: flex;
		align-items: center;
	}
	.card .profile-img img {
		mask-image: unset;
		object-position: center;
	}
	.card .info {
		height: calc(100% - 250px);
		flex-basis: unset;
	}
}

@media (max-height: 500px) {
	.card {
		max-height: 95dvh;
		width: auto;
		max-width: 85dvw;
	}
}


.card .info .contact-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}
.card .info .contact-info a {
	color: #333;
	font-size: 1em;
	text-decoration: none;
	transition: 0.2s;
}
.card .info .contact-info a:hover {
	color: #007BFF;
}
