body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #f0f0f0;
}
html {
	scroll-snap-type: y mandatory;
	overflow: auto;
}
html.scroll-disabled {
	scroll-snap-type: none;
}

* {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

@media print{@page {size: landscape}}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.25), transparent);
}


@keyframes slidedown {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slidetop {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slidecenter {
	from {
		transform: scale(0);
		transform-origin: center;
	}
	to {
		transform: scale(1);
	}
}


.card-wrapper {
	height: 100dvh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	flex-shrink: 0;
}

.card {
	height: 100%;
	width: 75dvw;
	max-width: 1000px;
	max-height: 75dvh;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 18pt;
	overflow: hidden;
	position: relative;
}

.card .corner {
	background: #337ab7;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	display: flex;
	padding: 10px;
	font-size: 1.25rem;
	cursor: pointer;
	border-radius: 0 0 0 20px;
	text-decoration: none;
	transition: 0.25s;
}
.card .corner:hover {
	background: #3387d0;
}

.card > .card-layout {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	height: 100%;
	gap: 10px;
}
.card .card-img{
	max-width: 50%;
	user-select: none;
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card .card-img img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	border-radius: 10px;
}

.card #profile_img img {
	height: 100%;
	width: 100%;
	mask-image: linear-gradient(90deg, transparent 5%, #000 50%);
	object-fit: cover;
	object-position: 75%;
}



.card .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5em;
	flex-basis: 50%;
	overflow: hidden;
}
.card hr {
	margin: 0;
	flex-shrink: 0;
}
.card .info h1 {
	padding-top: 0.25em;
	font-size: 1em;
	margin: 0;
}
.card .info h2 {
	font-size: 0.75em;
	color: #757575;
	margin: 0;
}
.card .info h1 a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.card .info h1 a:hover {
	text-decoration: underline;
}
.card .info p {
	font-size: 0.65em;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	overflow: auto;
}
.card .info p::-webkit-scrollbar {
	width: 5px;
}


@media (max-width: 600px) {
	::-webkit-scrollbar {
		width: auto;
		max-width: 4px;
	}
	.card {
		width: 95dvw;
		height: fit-content;
		max-height: 95dvh;
		overflow: hidden;
		font-size: 16pt;
		gap: 0.25em;
	}
	.card .corner {
		font-size: 1rem;
	}
	.card > .card-layout {
		display: contents;
	}
	.card .card-img {
		order: -1;
		max-width: 100%;
		height: 100%;
		flex-shrink: 0;
		flex-basis: unset;
	}
	.card #profile_img {
		max-height: 250px;
		border-radius: 10px;
		overflow: hidden;
	}
	.card #profile_img img {
		mask-image: unset;
		object-position: center;
	}
	.card .info {
		height: calc(100% - 250px);
		flex-basis: unset;
	}
}

@media (max-height: 500px) {
	.card {
		max-height: 95dvh;
		width: auto;
		max-width: 85dvw;
	}
}


.card .info .contact-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}
.card .info .contact-info a {
	color: #333;
	font-size: 1em;
	text-decoration: none;
	transition: 0.25s;
}
.card .info .contact-info a:hover {
	color: #007BFF;
	transform: translateY(-4px);
}



.badges {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	font-size: 0.55em;
}
.badge {
	print-color-adjust: exact;
	-webkit-print-color-adjust: exact;
	color: black;
	background: #e5efff;
	padding: 4px 10px;
	border-radius: 12px;
	display: flex;
	gap: 3px;
	align-items: center;
	user-select: none;
}
.badge[href] {
	text-decoration: none;
	cursor: pointer;
	transition: 0.25s;
}
.badge[href]:hover {
	background: #c6dcff;
	transform: translateY(-2px);
}



@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: #25282a;
	}
	.card {
		background-color: #1c1e20;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
	}
	::-webkit-scrollbar-thumb {
		background-color: #454a4d;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #676e73;
	}
	.card .info .contact-info a {
		color: lightgrey;
	}
	.card .info .contact-info a:hover {
		color: #006edc;
	}
	hr {
		background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.25), transparent);
	}
	.card .corner {
		background: #296292;
	}
	.card .corner:hover {
		background: #337ab7;
	}
	.card .info h1 a {
		color: white;
	}
	.card .info h2 {
		color: darkgrey;
	}
	.badge {
		background: #1e2332;
		color: lightgrey;
	}
	.badge[href]:hover {
		background: #283c5a;
	}
}
